*{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.main {
    margin: 0 auto;
    width: 600px;

    background-color: rgb(206, 198, 241);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 50px;

}

.nav {
    display: flex;
    justify-content: space-between;

    background-color: rgb(175, 158, 255);

    font-size: 20px;

    padding: 10px;
    border-radius: 5px;
}

.btn {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;

    padding: 5px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(204, 204, 204);
    border: 2px solid rgb(255 255 255);
}

.text {
    display: none;
    font-family: '';
}
.text.active {
    display: block;
}