body {
    background-color: blanchedalmond;
}

.check {
    margin-left: 40%;
}

.input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid rgb(255, 168, 55);

    margin: 10px;

    padding: 5px;
    left: 15px;
}

.newToDo {
    display: flex;
    
    width: 200px;
    height: 20px;
    border-radius: 5px;
    
    background-color: #fff;

    margin: 10px;
    padding: 7px;
    line-height: 22px;

}

.clean {
    position: absolute;
    margin-left: 175px;
    text-align: center;

    width: 16px;
    height: 16px;

    color: rgb(199, 0, 0);

    border: 2px solid rgb(199, 0, 0);
    border-radius: 15px;

    font-size: 12px;
    line-height: 17px;

} 

.clean:hover {
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
    cursor: pointer;
}

.textDiv{
    position: absolute;
    margin-left: 30px;
    font-size: 15px;
    line-height: 17px;
}