.game {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid black;
    height: 126px;
    width: 126px;
}

.place {
    border: 1px solid black;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
}

.message {
    text-align: center;
}

.restart{
    margin: auto;
    display: flex;
}

.stat {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    padding: 0 10px 10px 10px; 
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
}

/* .winX{

}

.winO{

}

.draw{

} */